html, body {
    height: 100%;
    width: 100%;
}

#padding {
    padding: 70px 0 70px 0;
    text-align: justify;
}

#paddingTitre {
    text-align: justify;
}

.bg-bleu {
    background-color: #23415C;
    color: #FFF;
}

.icon {
    max-width: 400px;
}

.images {
    max-width: 700px;
}

#paddingImages {
    padding: 10px 0 10px 0;
}